.navbar {
    background: linear-gradient(90deg, #007bff, #6f42c1);
}

.navbar-nav .nav-link {
    color: white;
    transition: color 1s;
}

    .navbar-nav .nav-link:hover {
        color: #ffcc00; /* Gold color on hover */
        text-decoration: underline;
    }

.navbar-nav .nav-item.active .nav-link {
    font-weight: bold;
    border-bottom: 2px solid #ffcc00; /* Gold underline for active link */
}



